In [2]:
import pandas as pd

In [17]:
df = pd.DataFrame(
    {
        "Name" :[
            "Auf eigene Faust",
            "Das Ende der Welt",
            "Der Angriff",
            "72 Stunden Angst",
            "Engel des Todes",
            "Auferstehung",

        ],
        "Years":[2008,2009,2010,2012,2012,2013],

    }
)
df

                Name  Years
0   Auf eigene Faust   2008
1  Das Ende der Welt   2009
2        Der Angriff   2010
3   72 Stunden Angst   2012
4    Engel des Todes   2012
5       Auferstehung   2013

In [4]:
df = pd.DataFrame(
    {
        "Name":[
            "Revolution",
            "Die dunkle Seite",
            "Vendetta",

        ],
        "Years":[2013,2014,2015],

    }
)
df

               Name  Years
0        Revolution   2013
1  Die dunkle Seite   2014
2          Vendetta   2015