In [1]:
import pandas as pd

In [1]:
import pandas as pd

animals_list = [
    ["wolf", "Europe"],
    ["jaguar", "South America"],
    ["buffalo", "North America"],
    ["emu", "Australia"],
    ["panda", "Asia"],
    ["lion", "Africa"]
]

df = pd.DataFrame(animals_list, columns=['Type', 'Continent'])
df.index += 1
print(df)

      Type      Continent
1     wolf         Europe
2   jaguar  South America
3  buffalo  North America
4      emu      Australia
5    panda           Asia
6     lion         Africa

In [3]:
books_list = [
    ["Kate Quinn", "The Huntress"],
     ["Stefanie Pintoff", "Hostage Taker"],
     ["Kate Moss","The Burning Chambers"],
     ["Angela Marsons", "Silent Scream"],
     ["Ken Follet", "The Evening and the Morning"]
]

df = pd.DataFrame(books_list, columns=['Type', 'Author'])
df.index += 1
print(df)

               Type                       Author
1        Kate Quinn                 The Huntress
2  Stefanie Pintoff                Hostage Taker
3         Kate Moss         The Burning Chambers
4    Angela Marsons                Silent Scream
5        Ken Follet  The Evening and the Morning

In [5]:
days =['Monday','Tuesday','Wednesday','Thursday','Friday']
tasks =['VBA','Java','Pandas','SQL','Jira']
pd.Series(days,tasks)

VBA          Monday
Java        Tuesday
Pandas    Wednesday
SQL        Thursday
Jira         Friday
dtype: object