In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(
    {"Name":[
        "Jäger, Ben",
        "Brandt, Alex",
        "Renner, Paul",
        "Reisinger, Vicky",
    ],
     "Years":[2008-2013,2013-2016,2016-2020,2020-2026],
     "Sex":["male","male","male","female"],
    }
)
df

               Name  Years     Sex
0        Jäger, Ben     -5    male
1      Brandt, Alex     -3    male
2      Renner, Paul     -4    male
3  Reisinger, Vicky     -6  female